[defaults]
remote_user        = ec2-user
host_key_checking  = False
interpreter_python = /usr/bin/python3

[inventory]
enable_plugins = aws_ec2

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ProxyCommand="aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"
